h1{
    font-size:2em;
    color: #FF8F40;
    margin-bottom:.5em;
}
h2{
    font-size:1.4em;
    color: #FF8F40;
    margin-bottom:.5em;
}

ol{
    margin-right: 1.4em;
    list-style: arabic-indic;
}
ul{
    margin-right: 1.4em;
	list-style: circle;
}

#notepad{
    position:fixed;
    top:0px;bottom:0px;left:0px;right:0px;
}
#navigation{
    position:fixed;
    top:0px;bottom:0px;left:0px;width:200px;
    border-right: 1px solid #A64500;
    background: #FF6A00;
    text-align:center;
}

#navigation > a {
    position:relative;
    display:block;
    text-decoration:none;
    width:100%;
    color:white;
    font-size:1em;
    padding: 5px;
    padding-right: 30px;
    
    
}

#content{
    position:fixed;
    top:0px;bottom:0px;left:200px;right:0px;
    padding-top:30px;
    overflow:auto;
    outline:none;
}
#status{
    position:absolute;
    bottom:0px;left:10px;
}


.button{
    cursor:pointer;
    width:50px;
    margin:30px; 
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.content-object{
    box-sizing: border-box;
    width: 100%;
    padding:1em;
    padding-right:10%;
    padding-left:10%;
    outline:none;
}
.content-object:focus{
    border-left: 10px solid #FF8F40;
    background-color:#fff5d7;
}

#cursor-container{
} /*is this still needeD?*/

#cursor{
    position:relative;
    box-sizing: border-box;
    height:6em;
    width:100%;
    padding:1em;
    padding-right:10%;
    padding-left:10%;
    resize:vertical;
    font-size:1.2em;
    outline:none;
    border:none;
    border-top: 1px dashed #A64500;
    border-bottom: 1px dashed #A64500;
    background-color:#ffad73;
}


#cursor:focus{
    background-color:#fff5d7;
    border-left: 10px solid #FF8F40;
}

#cursor-activator {
    height: 1px;
    background-color: #FFAD73;
}

#cursor-status{
    position:absolute;
    top:0px;
    left:0px;
    width:3em;
    height:8px;
    z-index:1;
    font-size:10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    
    text-align:left;
    background-color:#999;
}



#dialog-pages-pagename{
    border:none;
    border-bottom: 1px dashed #FF8F40;   
    margin: .7em;
    padding: .3em;
    font-size:2em;
    width:80%;
}
#dialog-pages-filechooser{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:10;
    opacity:0;
    cursor:pointer;
}
.dialog-action{
    position:relative;
    height:1.5em;
    text-decoration: none;
    margin-right:10px;
    color:#FF8F40;
    cursor:pointer;
}

.dialog-pages-text{
    height:1.5em;
    color:gray;
}


.dialog-container{
    position: fixed;
    display:none;
    z-index:1;
    top:0px;
    bottom:0px;
    left:200px;
    width:50%;
    padding:30px;
    
    background-color: white;
    border-right:1px solid #FF8F40; 
    color: #444;
    font-size:1.2em;
    font-weight:bold;

}



