/*
    armathjs: layout.css
    
    2012 Sulaiman A. Mustafa <http://people.sigh.asia/~sulaiman>    
    armathjs is public domain software.

    XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX 
    
        Warning: do NOT use single quotes in this file. use double-quotes 
                 instead.
    
    XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX 
    
    
    
*/

.armath-eq {
    display: inline-block;
    font-size:1.8em;
    font-family:monospace;
    padding: 10px;
    margin:0px;
    
}
.armath-eq-null{
    margin:0px;
    padding:0px;
    width:1px;
    height:1em;
}


.armath-eq-scale-x{
    transform:  scaleX(2);
    -webkit-transform: scaleX(2);
    -o-transform: scaleX(2);        
    -ms-transform: scaleX(2);      
    -moz-transform: scaleX(2);      
}

.armath-eq-operator{
    margin-left:.2em;
    margin-right:.2em;
}
.armath-eq-heavy{
    font-weight:bold;
}
.armath-eq-function{
    font-size:1.1em;
    /*
    transform:  skewX(-10deg);
    -webkit-transform: skewX(-10deg);    
    -o-transform: skewX(-10deg);*/
    
}
.armath-eq-larger{
    margin-right:.4em;
    margin-left:.4em;
    margin-bottom:.4em;
    font-size:1.6em;
}
.armath-eq-stool{
    margin-bottom: 0.3em;
}
.armath-eq-larger > .armath-eq-sub-2{
    font-size:30%;
    text-align:center;
}

.armath-eq-smaller{
    font-size:.6em;
    font-weight:100;
}
.armath-eq-sub{
    font-size:65%;
}
.armath-eq-sub-2{
    font-size:40%;
    text-align:center;
}
.armath-eq-inline {
    display: inline-block;
}
.armath-eq-common {
    vertical-align: middle;
    position:relative;
    text-align:right;
}

.armath-eq-vertical-element{
    text-align: center;
    width: 100%;
    display:block;
}


.armath-eq-horizontal-gap{
    width:1em;
    height:1em;
}
.armath-eq-vertical-gap{
    width:.2em;
    height:3em;
}

.armath-eq-position-bottom{
    bottom:-1.2em;
    position:relative;
}

.armath-eq-position-top{
    top:-0.9em;
    position:relative;
}

.armath-eq-position-center{
    position:absolute;
    right:0px;
    left:0px;
    padding:0px;;
    white-space: nowrap;
    text-align:center;
}

.armath-eq-fraction{
    margin:5px;
    text-align:center;
}



.armath-eq-margins{
    margin-left:.1em;
    margin-right:.1em;
}
.armath-eq-parentheses{
    padding-left:.3em;
    padding-right:.3em;
    border-left:.1em solid black;
    border-right:.1em solid black;
    border-radius: .5em;
}

.armath-eq-square-brackets{
    padding:.2em;
    border-left:2px solid black;
    border-right:2px solid black;
}
.armath-eq-square-brackets-tl{
    position:absolute;
    left:0px;
    top:0px;
    width:.3em;
    height:3px;
    background-color: black;
}
.armath-eq-square-brackets-tr{
    position:absolute;
    right:0px;
    top:0px;
    width:.3em;
    height:3px;
    background-color: black;
}
.armath-eq-square-brackets-bl{
    position:absolute;
    left:0px;
    bottom:0px;
    width:.3em;
    height:3px;
    background-color: black;
}
.armath-eq-square-brackets-br{
    position:absolute;
    right:0px;
    bottom:0px;
    width:.3em;
    height:3px;
    background-color: black;
}

.armath-eq-absolute{
    padding:.1em;
    border-left:2px solid black;
    border-right:2px solid black;
}

.armath-eq-root-container{
    padding-right:.2em;
}
.armath-eq-root-degree{
    position:absolute;
    top:0px;
    right:-.5em;
}
.armath-eq-root-falling{
    border-right: 2px solid black;
    height: 50%;
    bottom: 0px;
    position: absolute;
    right: -.2em;
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
}
.armath-eq-root-dec{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform:  skewX(5deg);
    -webkit-transform: skewX(5deg);    
    -o-transform: skewX(5deg);
    -ms-transform: skewX(5deg);    
    -moz-transform: skewX(5deg);    
}
.armath-eq-root-body{
    padding:.25em;
}
.armath-eq-flip{
    transform:  scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
}

.armath-eq-hr{
    border: none;
    height:2px;
    background-color: black;
    margin-top: .1em;
    margin-bottom: .2em;
    right:-5px;
    left:-5px;
}



.armath-eq-curly-container{
    padding-right:2em;
    padding-top:1em;
    padding-bottom:1em;
}

.armath-eq-curly-top-right{
    position:absolute;
    width:1em;
    height:40%;
    top:10%;
    right:0px;
    border-left: 2px solid black;
    border-radius: 0px 0px 0px .5em;
}

.armath-eq-curly-bottom-right{
    position:absolute;
    width:1em;
    height:40%;
    bottom:10%;
    right:0px;
    border-left: 2px solid black;
    border-radius: .5em 0px 0px 0px;
}


.armath-eq-curly-top-left{
    position:absolute;
    top:5px;
    bottom:90%;
    right:1em;
    width:1em;
    border-right: 2px solid black;
    border-radius: 0px 1em 0px 0px;
}

.armath-eq-curly-bottom-left{
    position:absolute;
    bottom:5px;
    top:90%;
    right:1em;
    width:1em;
    border-right: 2px solid black;
    border-radius: 0px 0px 1em 0px;
}

.armath-eq-bar{
    border-top: 2px solid black;
}

.armath-eq-matrix{
    border-collapse:collapse;
	border-spacing:0;
}

.armath-eq-matrix-element{
    padding-right:.3em;
    padding-left:.3em;
    
}

.armath-eq-vertical-subelement-gap{
    padding-bottom:.3em;
}
